## We typically do not want to include the vendor directory
## but since we are dealing with WPEngine, we need to.
## That is, until they decide we should be able to run
## `composer install` in the production environment
#vendor


# THEME
dist/
node_modules/
